<h1><%= @game.name =%></h1>

<div class="text-center"><%= @game.name =%>に参加しますか？</div>
<br>
<%= form_for(@game.entries.build, url: game_entries_path(@game)) do |form| %>
  <% if @entry && @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit '参加する', {class: 'btn btn-default center-block'} %>
  </div>
<% end %>
<br>
<%= link_to 'キャンセル', games_path, class: 'btn btn-link center-block' %>