<%= form_for([:admin, game], local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row">
    <div class="col-sm-3">
      <%= form.label :name, class: 'control-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :name, id: :game_name, class: 'form-control' %>
    </div>
  </div>

   <div class="field form-group row">
    <div class="col-sm-3">
      <%= form.label :start_time, class: 'control-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.datetime_select :start_time, id: :game_start_time , class: 'form-control' %>
    </div>
  </div>

  <div class="actions center-block">
    <%= form.submit '作成する/更新する', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
