<p id="notice"><%= notice %></p>

<h1>ゲーム一覧</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>名前</th>
      <th>開始時刻</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td width="200px"><%= game.start_time %></td>
        <td width="80px"><%= link_to '表示', [:admin, game], class: 'btn btn-primary' %></td>
        <td width="80px"><%= link_to '編集', edit_admin_game_path(game), class: 'btn btn-defalut' %></td>
        <td width="80px"><%= link_to '削除', [:admin, game], class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ゲームを作成する', new_admin_game_path %>
