<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>開始時刻:</strong>
  <%= @game.start_time %>
</p>

<%= form_tag(create_number_admin_game_path(@game), method: 'post') do %>
  <%= submit_tag '抽選する' %>
<% end %>

<p>
  <strong>抽選履歴</strong>
  <%= @game.numbers.join(', ') %>
</p>

<%= link_to '編集する', edit_admin_game_path(@game) %> |
<%= link_to '戻る', admin_games_path %>

<script type="text/javascript">
  $(function(){
    App.notifications = App.cable.subscriptions.create(
      {  
        channel: "NotificationsChannel", 
        game_id: <%= @game.id %>
      },
      {
        connected: function() {
          App.notifications.notify_lot();
        },
        notify_lot: function() {
          return this.perform('notify_lot', {game_id: <%= @game.id %>});
        }
      }
    );
  });
</script>
