<p id="notice"><%= notice %></p>

<h1 class="game-title"><%= @game.name %></h1>

<div class="game-start-time text-center">
  <%= l(@game.start_time, format: :middle) %> 開始
</div>
<br>
<%= form_tag(create_number_admin_game_path(@game), method: 'post', remote: true) do %>
  <%= submit_tag '抽選する', class: 'btn btn-lg btn-primary center-block', style: 'width: 200px;' %>
<% end %>
<br>
<p>
  <div class="text-center">抽選番号の履歴</div>
  <div class="lot-numbers"><%= @game.numbers.join(', ') %></div>
</p>

<div class="bingo-users-table-contanier">
  <%= render partial: 'bingo_users_table', locals: {bingo_users_for_each_turn: @bingo_users_for_each_turn} %>
</div>

<%= link_to 'ゲーム一覧へ', admin_games_path, class: 'btn btn-link center-block' %>

<script type="text/javascript">
  $(function(){
    App.notifications = App.cable.subscriptions.create(
      {  
        channel: "NotificationsChannel", 
        game_id: <%= @game.id %>
      },
      {
        notify_lot: function() {
          return this.perform('notify_lot', {game_id: <%= @game.id %>});
        }
      }
    );
  });
</script>
