<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @game.start_time %>
</p>

<%= link_to 'Edit', edit_admin_game_path(@game) %> |
<%= link_to 'Back', admin_games_path %>
