<div class="login-container">
  <h2><%= t('devise.sessions.new.sign_in') %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'new_user form-login'}) do |f| %>
    <div class="field form-group row">
      <div class="col-sm-4">
        <%= f.label :email, class: 'control-label' %>
      </div>
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: "required" %>
      </div>
    </div>

     <div class="field form-group row">
       <div class="col-sm-4">
        <%= f.label :password, class: 'control-label'  %>
      </div>
      <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control login-password', required: "required" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field form-group row">
        <div class="col-sm-3">
          <%= f.check_box :remember_me, class: 'remember-me-chk-box'%>
        </div>
        <div class="col-sm-9">
          <%= f.label :remember_me, class: 'control-label' %>
        </div>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit t('devise.sessions.new.sign_in'), class: 'btn btn-lg btn-primary btn-block btn-login' %>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>
