<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,user-scalable=0">
    <title>Bingo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <% if user_signed_in? %>
          <%= current_user.email %> さん
          <%= link_to "ログアウト", destroy_user_session_path, class: "pull-right", data: { confirm: 'ログアウトしますか?' } %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
