<!DOCTYPE html>
<html>
  <head>
    <title>Bingo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if user_signed_in? %>
        <div><%= current_user.email %></div>
        <%= link_to "ログアウト", destroy_user_session_path %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
